body{
    margin: 20px;
    background-color: black;

}
h2{
    color: white;
}

button{
    background-color: rgb(58, 55, 55);
    padding: 20px 28px;
    border: none;
    border-radius: 100px;
    font-size: x-large;
    color: white;
    margin-right: 5px;
    
}
.operator{
    background-color: orange;
}
.clear{
    padding: 20px 12px;
    font-size: medium;
}
.js-display{
    color: white;
    font-size: 40px;
    
}